:root {
  --main-white-color: white;
  --main-black-color: black;
}

.static {
  position: static;
}
.owl-carousel .owl-dots .owl-dot:hover span, .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}

.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.justify-content-md-start {
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 600px; /* Alterado para 600px de altura */
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center; /* Para centralizar verticalmente */
}

.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}

.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}

.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}

.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}

.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav [class*="owl-"]:focus {
  outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}

.owl-carousel .owl-nav {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}

.owl-carousel .owl-nav svg {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.owl-carousel .owl-nav button:hover svg {
  opacity: 1;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

section {
  display: none;
}

@media (min-width: 993px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 575px) {
  .owl-carousel .owl-nav {
    top: 5%;
  }
  
  .owl-carousel .owl-nav svg {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}

@media (min-width: 768px){
.container {
    max-width: 720px;
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
}
}
}